.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: bisque;
    width: 2000px;
    height: 2000px;
    gap: 20px;
   }

.prestador{
display: flex;
gap: 20px;
}

@media (max-width: 500px) {
    .container {
        width: 430px;

    }
    .prestador {
        display:flex;
        flex-direction:column;
    }
}