.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: bisque;
    height: 2000px;
    gap: 20px;
   }

.prestador{
display: flex;
gap: 20px;

}
   